.reports-text{font-size:20px; text-align:center; color:#000; line-height:28px; margin:10px 0; padding:0 8px;}
.pie-chart{width:90%; margin:25px auto 0px;}
.reports-smalltext{color:#2d3d57; font-size:20px; text-align:center; padding:0; margin:0;}
.reports-bigtext{color:#2d3d57; font-size:42px; text-align:center; padding:0; margin:0;}

.bannerdiv-text-white-reports{font-size: 6vw; color: #fff; text-align: center; margin: 0; font-family: 'Lato Semibold'; padding: 15% 0;}

.bannerdiv-text-white-reports span{color: $lightblue;}
